<div class="contact-email">	
	<form method="POST" action="https://formspree.io/canadachunyang@gmail.com">
	  <input type="hidden" name="_next" value="{{ site.baseurl }}/thank_you/" />
	  <label for="name">Your Name</label>
	  <input type="text" name="name" placeholder="Your name" required><br />
	  <label for="email">Your Email</label>
	  <input type="email" name="email" placeholder="Your email" required><br />
	  <textarea name="message" placeholder="Your message" required></textarea><br />
	  <button type="submit">Send</button>
	</form>
</div>